.main-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background-color: #F4E2DE;
}

.navbar-title {
    margin-left: 10%;
}

.navbar-title a {
    text-decoration: none;
    color: black;
}

.navbar-menu {
    margin-right: 10%;
}

.navbar-menu a {
    text-decoration: none;
    margin-right: 15px;
    color: black;
}

.nav-link:hover {
color: white;
}